.container {
    width: 450px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin; // mozilla
    height: 100%;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 4px;
      height: 1px;
    }
    &::-webkit-scrollbar-thumb {
      width: 4px;
      border-radius: 2px;
      background-color: #282A3E;
    }
    &::-webkit-scrollbar-corner {
      background-color: #282A3E;
    }
}

.center {
    align-items: center;
    justify-content: center;
    display: flex;
}

.placeholder {
    font-size: 24px;
    text-align: center;
    color: #2B2D42;
    font-weight: bold;
    margin-top: 25px;
}

.row {
    align-items: center;
    display: flex;
}

.todoItem {
    width: calc(100% - 10px);
    display: flex;
    justify-content: space-between;
    margin: 8px;
    background: rgb(156,159,191);
    background: linear-gradient(135deg, rgba(156,159,191,1) 0%, rgba(156,159,191,1) 35%, rgba(207,212,222,1) 100%);
    padding: 12px 16px;
    border-radius: 8px;
    color: #282A3E;
    transition: 1s;
}

.done {
    text-decoration: line-through;
    background: rgb(106,110,160);
    background: linear-gradient(135deg, rgba(106,110,160,1) 0%, rgba(106,110,160,1) 35%, rgba(207,212,222,1) 100%);
}